.hero {
    background-image: url('../img/hero.jpg');
    height: 100%;
    width: 100%;
    min-height: 525px;
    position: relative;
    /*text-shadow: 1px 1px 1px #1565C0;*/
    text-align: center;
    padding-top: 8rem;
}

h1 {
  color: white;
}

footer.page-footer, nav {
  background-color: #1565C0;
}

.btn, .btn-large {
  background-color: #FF4081;
}

/*
Change hover color to a better pink*/

.btn:hover, .btn-large:hover {
  background-color: pink;
}

.label {
  color: #FF4081;
}

.material-icons {
  vertical-align: bottom;
}

hero h1 {
  font-weight: bold;
}

.icon {
  color: #FF4081;
}

.price, .tax-amount, .subtotal-amount, .total-amount {
  width: 75px;
}
